* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

@font-face {
  font-family: dana;
  src: url(./assets/font/dana-fanum-medium.7b851d0c.woff2);
}
div.backGround {
  background-image: url("./assets/img/bg.jpg") !important;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
}

div.bg-color {
  width: 100%;
  height: 200vh;
  background-color: rgb(12, 20, 12);
  margin: 1px;
  display: inline-block;
}

.head {
  width: 900px;
  height: 29px;
  position: relative;
  right: 620px;
  top: 66px;
  display: flex;
}
.head li > a {
  margin: 20px;
  text-decoration: none;
  color: white;
  font-family: dana;
  font-size: 14px;
}

.logoTit {
  width: 300px;
  height: 50px;
  position: relative;
  right: 1700px;
  top: 40px;
  display: flex;
}

.textLogo {
  text-decoration: none;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  top: 20px;
}

.titer {
  width: 900px;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 266px;
  left: 300px;
}
.titer > h1 {
  width: 600px;
  height: 143px;
  color: white;
  font-size: 65px;
  font-family: dana;
}

div.text {
  display: inline-block;
  width: 743px;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 405px;
  left: 650px;
}
div.text > .context {
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  font-family: dana;
  border: 2px solid;
  padding: 2px;
  background-color: rgba(124, 134, 122, 0.25);
  border-radius: 10px;
}

.tree {
  display: inline-block;
  position: relative;
  top: 170px;
  right: 250px;
}

div.plant-1 {
  display: inline-block;
  width: 612px;
  height: 404px;
  border: 2px solid;
  border-image-source: linear-gradient(147.93deg, rgba(255, 255, 255, 0.377) 6.68%, rgba(0, 0, 0, 0) 51.71%, rgba(255, 255, 255, 0.2) 93.27%);
  background-color: rgba(124, 134, 122, 0.25);
  box-shadow: 0px 9px 18.4px 0px;
  border-radius: 77px;
  position: relative;
  top: 266px;
  right: 3px;
}
div.plant-1 > .sub {
  width: 213px;
  height: 29px;
  font-size: 16px;
  font-family: dana;
  color: white;
  position: relative;
  top: 210px;
  right: 40px;
}
div.plant-1 > .bex {
  width: 213px;
  height: 29px;
  font-size: 21px;
  font-family: dana;
  color: white;
  position: relative;
  top: 210px;
  right: 30px;
  word-spacing: 10px;
}
div.plant-1 > .buy {
  width: 80px;
  height: 44px;
  background-color: rgba(168, 168, 168, 0.199);
  box-shadow: 0px 9px 18.4px 0px;
  border: 2px solid;
  border-radius: 12px;
  position: relative;
  top: 250px;
  right: 70px;
  transition: 1s;
}

.buy:hover {
  font-family: dana;
  color: white;
}

.comment {
  display: inline-block;
  width: 609px;
  height: 237px;
  border: 2px solid;
  border-image-source: linear-gradient(147.93deg, rgba(255, 255, 255, 0.2) 6.68%, rgba(0, 0, 0, 0) 51.71%, rgba(255, 255, 255, 0.2) 93.27%);
  background-color: rgba(124, 134, 122, 0.363);
  box-shadow: 0px 9px 18.4px 0px;
  border-radius: 77px;
  position: relative;
  top: 700px;
  left: 1411px;
  padding-right: 10px;
}
.comment > h4 {
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  right: 40px;
  top: 30px;
  color: white;
  font-family: dana;
  font-size: 12px;
}
.comment > .comment-p {
  position: relative;
  bottom: 12px;
  right: 5px;
}
.comment > .comment-text {
  color: white;
  font-family: dana;
  font-size: 16px;
}

div.trend {
  width: 376px;
  height: 67px;
  position: relative;
  top: 100px;
  right: 700px;
  border: 5px solid rgba(48, 165, 25, 0.514);
  border-radius: 25px;
}
div.trend > .trend-text {
  color: white;
  font-family: dana;
  font-size: 25px;
  width: inherit;
  height: inherit;
  padding-right: 100px;
  margin-top: 3px;
}

.plant-2 {
  display: flex;
  padding: 10px;
  width: 1390px;
  height: 500px;
  border: 2px solid;
  border-image-source: linear-gradient(147.93deg, rgba(255, 255, 255, 0.295) 6.68%, rgba(0, 0, 0, 0) 51.71%, rgba(255, 255, 255, 0.2) 93.27%);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 9px 18.4px 0px;
  top: 300px;
  border-radius: 107px;
  position: relative;
  right: 210px;
}
.plant-2 > .sub-2 {
  display: flex;
  width: 813px;
  height: 80px;
  word-spacing: 2px;
  font-size: 20px;
  font-family: dana;
  color: white;
  position: relative;
  top: 90px;
  right: 100px;
  text-shadow: 2px 2px 2px #d4d4d4;
}
.plant-2 .dec {
  height: 204px;
  font-family: dana;
  color: white;
  position: relative;
  top: 200px;
  left: 100px;
  font-size: larger;
}
.plant-2 > span {
  width: 860px;
  height: 70px;
  position: relative;
  top: 359px;
  left: 700px;
  font-family: dana;
  color: white;
  font-size: 20px;
}
.plant-2 > .buy-2 {
  width: 500px;
  height: 48px;
  background-color: rgba(168, 168, 168, 0.151);
  box-shadow: 0px 9px 18.4px 0px;
  border: 2px solid;
  border-radius: 12px;
  position: relative;
  top: 350px;
  left: 300px;
  transition: 1s;
  text-align: center;
}

.buy-2:hover {
  font-family: dana;
  color: white;
}

.plant-3 {
  display: flex;
  padding: 10px;
  width: 1390px;
  height: 500px;
  border: 2px solid;
  border-image-source: linear-gradient(147.93deg, rgba(255, 255, 255, 0.295) 6.68%, rgba(0, 0, 0, 0) 51.71%, rgba(255, 255, 255, 0.2) 93.27%);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 9px 18.4px 0px;
  top: 600px;
  border-radius: 107px;
  position: relative;
  right: 210px;
}
.plant-3 > .buy-3 {
  width: 466px;
  height: 48px;
  background-color: rgba(168, 168, 168, 0.151);
  box-shadow: 0px 9px 18.4px 0px;
  border: 2px solid;
  border-radius: 12px;
  position: relative;
  top: 350px;
  left: 712px;
  transition: 1s;
  text-align: center;
}
.plant-3 > .sub-3 {
  display: flex;
  width: 813px;
  height: 80px;
  word-spacing: 2px;
  font-size: 20px;
  font-family: dana;
  color: white;
  position: relative;
  top: 90px;
  right: 280px;
  text-shadow: 2px 2px 2px #d4d4d4;
}
.plant-3 > .dec-2 {
  height: 204px;
  font-family: dana;
  color: white;
  position: relative;
  top: 200px;
  right: 60px;
  font-size: larger;
}
.plant-3 > span {
  width: 860px;
  height: 70px;
  position: relative;
  top: 370px;
  right: 80px;
  font-family: dana;
  color: white;
  font-size: 20px;
}

.buy-3:hover {
  font-family: dana;
  color: white;
}/*# sourceMappingURL=main.css.map */